@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "pRegular";
  src: local("Pretendard-Regular"),
    url("./assets/fonts/Pretendard-Regular.otf") format("opentype");
}

@font-face {
  font-family: "pSBold";
  src: local("Pretendard-SemiBold"),
    url("./assets/fonts/Pretendard-SemiBold.otf") format("opentype");
}

@font-face {
  font-family: "pBold";
  src: local("Pretendard-Bold"),
    url("./assets/fonts/Pretendard-Bold.otf") format("opentype");
}

@font-face {
  font-family: "mRegular";
  src: local("Montserrat-Regular"),
    url("./assets/fonts/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "mSBold";
  src: local("Montserrat-SemiBold"),
    url("./assets/fonts/Montserrat-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "mBold";
  src: local("Montserrat-Bold"),
    url("./assets/fonts/Montserrat-Bold.ttf") format("truetype");
}

.card-element-wrapper {
  padding: 12px 14px; /* Padding around the Stripe Element */
  border: 1px solid #ddd; /* Optional: Add a border */
  background-color: #ffff; /* Optional: Add a background color */
}
/* body {
  font-family: Pretendard;
} */

/* header {
  font-family: Montserrat;
} */
